[submodule "submodules/VulkanGL"]
	path = submodules/VulkanGL
	url = https://github.com/relgukxilef/VulkanGL.git
	shallow = true
[submodule "submodules/emsdk"]
	path = submodules/emsdk
	url = https://github.com/emscripten-core/emsdk.git
	shallow = true
[submodule "submodules/SPIRV-Cross"]
	path = submodules/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
	shallow = true
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
	shallow = true